    
    <div style='display: flex;'>
      <%= link_to  "BAck", root_path , class: "btn btn-lg btn-secondary me-2"%>
    </div>
    <div class="container mt-5 text-center">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <%= month_calendar(events: @records, attribute: :in_time) do |date| %>
          <div class="day">
            <%= link_to date.day %>
            <div class="container-fluid ">
              <p>Total:
                <%=@records.select{ |m| m.created_at.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d")}.count%>
              </p>
              <p>Check In:
                <%=@records.select { |m| m.created_at.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") && m.in_time.blank? == false}.count%>
              </p>
              <p>Check Out:
                <%=@records.select { |m| m.created_at.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") && m.out_time.blank? == false}.count%></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
