<h1>Records</h1>
<%= search_form_for @q, url: records_path, method: :get, class: "mb-3"  do |f| %>
  <div>
    <%= f.label :name_cont, "Name" %>
    <%= f.search_field :name_cont %>
  </div>
  <div>
    <%= f.submit "Search" %>
  </div>
<% end %>
<% if @records.any? %>
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <% if record.photo.attached? %>
            <%= image_tag record.photo, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= record.name %></h5>
            <%= link_to "View Details", record_path(record), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No records found.</p>
<% end %>
