<h1>New Record</h1>

<%= form_with(model: @record, local: true) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :in_time %><br>
    <%= form.datetime_select :in_time %>
  </div>

  <div>
    <%= form.label :out_time %><br>
    <%= form.datetime_select :out_time %>
  </div>

  <div>
    <%= form.submit "Create Record" %>
  </div>
<% end %>
