<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-info text-white">
      <h3 class="mb-0">Record Details</h3>
    </div>

    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><%= @record.name %></dd>

        <dt class="col-sm-3">In Time</dt>
        <dd class="col-sm-9"><%= @record.in_time %></dd>

        <dt class="col-sm-3">Out Time</dt>
        <dd class="col-sm-9"><%= @record.out_time %></dd>

        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9"><%= @record.created_at %></dd>

        <dt class="col-sm-3">Updated At</dt>
        <dd class="col-sm-9"><%= @record.updated_at %></dd>
      </dl>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <%= link_to "Edit", edit_record_path(@record), class: "btn btn-warning" %>
      <%= link_to "Back", records_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
