<div class="container mt-5">
  <h1 class="text-center mb-4" style="color: #28a745;"><i class="bi bi-check-circle-fill me-2"></i> Complete Check-In for <%= @record.name %></h1>

  <%= form_with model: [@record, @attendance], url: update_check_in_record_attendance_path(@record, @attendance), local: true, html: { class: 'card p-4 shadow-sm border-success', id: 'checkInForm' } do |form| %>
    <div class="mb-3">
      <%= form.label :purpose, 'Purpose of Visit', class: 'form-label fw-semibold' %>
      <%# Always render the text_area. Add 'readonly: true' if you don't want it editable %>
      <%= form.text_area :purpose, class: 'form-control', rows: 3, placeholder: 'Briefly describe the purpose of the visit', readonly: @attendance.purpose.present? %>
      
      <% if @attendance.purpose.present? %>
        <p class="fw-semibold mt-2">
            <i class="bi bi-calendar-check me-2"></i> Check Out Time:
            <%= @attendance.out_time.present? ? @attendance.out_time.strftime('%B %d, %Y %I:%M %p') : 'N/A' %>
            <br>
        </p>
      <% end %>
    </div>

    <div class="d-flex justify-content-end gap-2 align-items-center">
      <div>
        <%= form.submit 'Complete Check-In'.html_safe, class: 'btn btn-success rounded-pill shadow-sm', id: 'submitBtn'%>
      </div>
      <%= link_to 'Back'.html_safe, record_path(@record), class: 'btn btn-outline-secondary rounded-pill shadow-sm' %>
    </div>
  <% end %>
</div>