<h1>Attendance History for <%= @record.name %></h1>
<% if @attendances.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>In Time</th>
        <th>In Photo</th>
        <th>Out Time</th>
        <th>Out Photo</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.in_time&.strftime('%B %d, %Y %H:%M:%S') || "N/A" %></td>
          <td>
            <% if attendance.in_photo.attached? %>
              <%= enlargeable_image_tag attendance.in_photo, id: "in#{attendance.id}", label: "Check In Photo" %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= attendance.out_time&.strftime('%B %d, %Y %H:%M:%S') || "N/A" %></td>
          <td>
            <% unless attendance.out_photo.attached? %>
              <% if attendance.user_id == current_user.id && attendance.out_time.nil? %>
                <%= link_to "Check Out", edit_record_attendance_path(@record, attendance), class: "btn btn-warning" %>
              <% end %>
            <% else %>
              <%= enlargeable_image_tag attendance.out_photo, id: "out#{attendance.id}", label: "Check Out Photo" %>
            <% end %>
          </td>
          <td>
            <%= attendance.user&.email || "Unknown" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No attendance records found.</p>
<% end %>
<%= link_to "Back", record_path(@record), class: "btn btn-secondary mt-3" %>
