<%# , url: record_attendances_path(@record) %>
<h2>Check-in/out History for <%= @record.name %></h2>
<table>
  <tr>
    <th>Check-in</th>
    <th>Check-out</th>
    <th>Actions</th>
  </tr>
  <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.check_in_time %></td>
      <td><%= attendance.check_out_time || "Not checked out" %></td>
      <td>
        <% unless attendance.check_out_time %>
          <%= button_to "Check Out", check_out_record_attendance_path(@record, attendance), method: :patch %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Back", record_path(@record), class: "btn btn-secondary mt-3" %>
