<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body { font-family: "Helvetica", sans-serif; font-size: 14px; margin: 20px; height: 50%; }
      .qr-code {
        display: block;
        margin: 10px auto;
        width: 180px;
        height: auto;
      }

      .title { font-size: 18px; font-weight: bold; text-align: center; text-transform: uppercase; }
      .token { text-align: center; margin-top: 5px; margin-bottom: 20px; }
      .section { margin: 20px 0; }
      .label { font-weight: bold; }
      .field { display: inline-block; width: 250px; }
      .signature-line { margin-top: 40px; display: flex; justify-content: space-between; }
      .signature-line div { width: 45%; text-align: center; }
      .footer { margin-top: 40px; font-size: 12px; text-align: center; }
      hr { margin: 10px 0; }
      .user-photo { width: 150px; height: auto; border-radius: 8px; margin-top: 10px; display: block; }
      .user-info-container { display: flex; align-items: flex-start; gap: 20px; }
      .user-info-details { flex: 1; }
    </style>
  </head>
  <body>
    <div class="title">ATTENDANCE SYSTEM PASS</div>
    <div class="token">TOKEN ID: <%= display_token(@attendance) %></div>
    <%= render "user_info" %>
    <hr />
    <div class="section">
      <p><span class="label">DATE & TIME OF ACTION:</span> <%= format_datetime(@attendance.out_time || @attendance.in_time || Time.current) %></p>
      <p><span class="label">ACTION TYPE:</span> <%= @attendance.out_time.present? ? "Check-Out" : "Check-In" %></p>
    </div>
    <div class="section">
      <p class="label">ATTENDANCE DETAILS:</p>
      <p><span class="field label">Check-In Time:</span> <%= format_datetime(@attendance.in_time) %></p>
      <p><span class="field label">Check-Out Time:</span> <%= format_datetime(@attendance.out_time) %></p>
    </div>
    <div class="section">
      <p><span class="label">ATTENDANCE QR CODE:</span></p>
      <%= attendance_qr_code_base64(@attendance) %>
    </div>
    <div class="signature-line">
      <div>
        Signature of Issuing Officer<br />
        _______________________________
      </div>
      <div>
        Signature of User<br />
        _______________________________
      </div>
    </div>
    <div class="footer">
      (With Stamp)<br />
      <br />
      Please retain this pass for future reference. Present it upon request.<br />
      <br />
      [Page 1]
    </div>
  </body>
</html>
